/*=================================================================
  Pricing section
==================================================================*/
.price-item {
  border: 1px solid rgba(236, 239, 241, 0.07);
  padding-bottom: 30px;
  margin-bottom: 15px;
}

.price-title {
  background-color: $body-color;
  padding: 30px 0 20px;
}

.price-title h3 {
  color: #57cbcc;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.price-title p {
  font-size: 18px;
  font-weight: 400;
}

.price-title .value {
  color: #57cbcc;
  font-size: 30px;
}

.pricing ul,
.skill-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pricing li {
  padding: 10px 0;
}

.pricing li:last-child {
  border-bottom: 1px solid rgba(236, 239, 241, 0.07);
  margin-bottom: 20px;
}

.pricing li:nth-child(2n) {
  background-color: #292F36;
}

.pricing li .btn {
  text-transform: uppercase;
  margin: 20px 0;
}

.border-meghna {
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  height: 1px;
  margin: 15px auto 0;
  position: relative;
  width: 30%;
}