 <div class="col-lg-8 mx-auto text-center">
        <h2>Suscribete a nuestros planes</h2>
 </div>


<div class="price-table-wrapper">
  <div class="pricing-table">
    <h2 class="pricing-table__header">- BASICO -</h2>
    <h3 class="pricing-table__price">$50</h3>
    <a target="_blank" class="pricing-table__button" href="/">
      Sucribete!
    </a>
    <ul class="pricing-table__list">
      <li>Servicio 1</li>
      <li>Servicio 2</li>
      <li>Producto 1</li>
      <li>Producto 2</li>
    </ul>
  </div>
  <div class="pricing-table featured-table">
    <h2 class="pricing-table__header">- BUSINESS -</h2>
    <h3 class="pricing-table__price">£80</h3>
    <a target="_blank" class="pricing-table__button" href="http://www.digimadmedia.com">
      Join Now!
    </a>
    <ul class="pricing-table__list">
      <li>40 day free trial</li>
      <li>100gb storage space</li>
      <li>25% discount</li>
      <li>24 hour support</li>
    </ul>
  </div>
  <div class="pricing-table">
    <h2 class="pricing-table__header">- PREMIUM -</h2>
    <h3 class="pricing-table__price">£130</h3>
    <a target="_blank" class="pricing-table__button" href="http://www.digimadmedia.com">
      Join Now!
    </a>
    <ul class="pricing-table__list">
      <li>50 day free trial</li>
      <li>200gb storage space</li>
      <li>40% discount</li>
      <li>24 hour support</li>
    </ul>
  </div>
</div>